body,
html {
  margin: 0;
  padding: 0;
  background: #000000;
  width: 100%;
  overflow-x: hidden;
}

.main {
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-lockup {
  position: relative;
  width: 75vw;
}

h1 {
  margin: 0;
  padding: 0;
  line-height: 0;
}

.logo {
  width: 100%;
  height: auto;
  display: block;
}

h2 {
  color: #FFF;
  text-align: center;

  font-family: "bickham-script-pro-3", sans-serif;
  font-size: 54px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  mix-blend-mode: difference;

  margin: 0;
  padding: 0;

  position: absolute;
  left: 50%;
  top: calc(100% - 13px);
  transform: translate(-50%, -50%);

  z-index: 2;
  white-space: nowrap;
}

/* Mobile */
@media screen and (max-width: 600px) {
  .logo-lockup {
    width: 100vw;
  }

  h2 {
    font-size: 42px;
    top: calc(100% - 10px);
  }
}

.fade-in {
  animation: fadeIn ease 2s;
  -webkit-animation: fadeIn ease 2s;
  -moz-animation: fadeIn ease 2s;
  -o-animation: fadeIn ease 2s;
  -ms-animation: fadeIn ease 2s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}